-f https://download.pytorch.org/whl/torch_stable.html
absl-py
aiohttp
antlr4-python3-runtime
appdirs
async-timeout
attrs
backcall
black
cachetools
certifi
chardet
click
cloudpickle
configparser
cycler
decorator
dill
docker-pycreds
e2cnn==0.1.7
flake8
fsspec
future
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h5py
hydra-core==1.1.0.dev3
hydra-submitit-launcher==1.1.0
idna
iniconfig
ipykernel
ipython
ipython-genutils
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
lie-conv==0.1
lightning-bolts==0.3.2
Markdown==3.3.4
matplotlib
mccabe
more-itertools
multidict
mypy-extensions
natsort
numpy
oauthlib
olive-oil-ml==0.1
omegaconf==2.1.0.dev24
packaging
pandas==1.2.2
parso
pathspec
pathtools
pexpect
pickleshare
pip
pluggy
promise
prompt-toolkit
protobuf
psutil
ptyprocess
py
pyasn1
pyasn1-modules
pycodestyle
pyflakes
Pygments
pyparsing
pytest==6.2.2
python-dateutil
pytorch-lightning==1.2.7
pytz
PyYAML
pyzmq==22.0.3
regex==2021.3.17
requests
requests-oauthlib
rsa
scikit-learn
scipy
sentry-sdk
setuptools
shortuuid
six
sklearn
smmap
submitit==1.3.0
subprocess32
tensorboard
tensorboard-plugin-wit
threadpoolctl
toml
torch==1.8.1+cu111
torchcontrib==0.0.2
torchdiffeq==0.2.1
torchmetrics==0.2.0
torchvision==0.9.1+cu111
tornado==6.1
tqdm
traitlets
typed-ast
typing-extensions
urllib3
wandb==0.10.25
wcwidth
Werkzeug
wheel
yarl
